[submodule "gd32_drivers"]
	path = gd32_drivers
	url = https://github.com/XmanAZC/gd32_drivers.git
[submodule "GD32C10x_Firmware_Library"]
	path = GD32C10x_Firmware_Library
	url = https://github.com/XmanAZC/GD32C10x_Firmware_Library.git
[submodule "mcu_components"]
	path = mcu_components
	url = https://github.com/XmanAZC/mcu_components.git
[submodule "rt-thread"]
	path = rt-thread
	url = https://github.com/RT-Thread/rt-thread.git
	branch = ddf52e2
